#Application
# set to false for production
debug=true

# Events Dispatch mode -> 0: Synchronous | 1: Asynchronous
dispatch_mode=1

#Logger
log_file_path="./var/logs/app.log"
log_format="[{level} - {time}]: {message} - {context}" #Available Placeholders {level},{time},{message},{context}
min_log_level="debug"

#Secret
webhook_secret = "test-web-secret"
