#Application
# set to false for production
debug=true

#Logger
log_file_path="./var/logs/app.log"
log_format="[{level} - {time}]: {message} - {context}" #Available Placeholders {level},{time},{message},{context}
min_log_level="debug"
