<!DOCTYPE html>
<html lang="en" class="dark" style="color-scheme: dark">
<head>
    <meta charset="UTF-8"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Flexi Framework</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'selector',
            theme: {
                colors: {
                    black: '#000000',
                    white: '#fcfcfc',
                    body: '#959cb1'
                }
            }
        }
    </script>
</head>
<body>
    <main class="w-full h-screen flex flex-col justify-center bg-white dark:bg-black">
        <section class="welcome -top-10">
            <div class="flex flex-col items-center justify-center p-2">
                <a class="header-logo mb-3" href="/">
                    <img alt="logo" loading="lazy" width="150px" height="auto" decoding="async" data-nimg="1" class="" style="color:transparent" src="/assets/img/logo-gray.png">
                </a>
                <h1 class="text-4xl font-bold text-center text-black dark:text-white">Welcome to Flexi Framework</h1>
                <p class="text-lg text-center text-body">a powerful and flexible PHP framework, based on Hexagonal
                                             Architecture and CQRS with Event Sourcing.</p>
                <span class="text-lg text-body mt-5">
                    To begin, visit the <a href="{{doc_url}}" target="_blank" class="text-black dark:text-white">documentation</a>
                </span>
            </div>
        </section>
        <section class="footer absolute bottom-5 left-0 right-0">
            <div class="flex flex-col items-center justify-center">
                <p class="text-sm text-body">Created by:
                    <a class="text-black dark:text-white" href="https://cubadevops.com" target="_blank">CubaDevOps</a>
                </p>
                <a href="https://cubadevops.com" target="_blank" class="text-black dark:text-white">
                    <img alt="CubaDevOps" loading="lazy" width="50px" height="auto" decoding="async" data-nimg="1" class="" style="color:transparent" src="https://cubadevops.com/imagotipo.svg">
                </a>
            </div>

        </section>
    </main>

</body>
</html>